/**********************************************************
| # FONT
**********************************************************/

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;

    color: #fe9615;
    font-size: 3rem;
    text-shadow: 1px 1px 2px #8b8b8b;
}


/**********************************************************
| # RESET
**********************************************************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    width:100%;
    display: block;
}


/**********************************************************
| # UTILS
**********************************************************/

    body {
        width: 500px;
    }

    .container {
        margin: 0 auto;
        padding: 0 10px;
        width: 480px;
        max-width: 100%;
    }


/**********************************************************
| # HEADER
**********************************************************/

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
}


/**********************************************************
| # MAIN
**********************************************************/

main {
    background-color: #e4e4e4;
}


/* SECTION TIRAMISU */

.video {
    width: 100%;
    aspect-ratio: 1.75;
}


/**********************************************************
| # MEDIAQUERY / MOBILE FIRST
**********************************************************/

/* SCREEN / (S) Small */
@media screen and (min-width:576px) {
    
    /* selettore */ {

    }
}

/* SCREEN / (M) Medium */
@media screen and (min-width:768px) {
    
    /* selettore */ {

    }
}

/* SCREEN / (L) Large */
@media screen and (min-width:992px) {
    
    /* selettore */ {

    }
}

/* SCREEN / (XL) Extra-Large */
@media screen and (min-width:1200px) {
    
    /* selettore */ {

    }
}

/* SCREEN / (XXL) Extra-Extra-Large */
@media screen and (min-width:1400px) {
    
    /* selettore */ {

    }
}


/**********************************************************
| # MEDIAQUERY / DESKTOP FIRST
**********************************************************/

/* SCREEN / (XXL) Extra-Extra-Large */
@media screen and (max-width:1400px) {
    
    /* selettore */ {

    }
}

/* SCREEN / (XL) Extra-Large */
@media screen and (max-width:1200px) {
    
    /* selettore */ {

    }
}

/* SCREEN / (L) Large */
@media screen and (max-width:992px) {
    
    /* selettore */ {

    }
}

/* SCREEN / (M) Medium */
@media screen and (max-width:768px) {
    
    /* selettore */ {

    }
}

/* SCREEN / (S) Small */
@media screen and (max-width:576px) {
    
    /* selettore */ {

    }
}


/**********************************************************
| # DEBUG
**********************************************************/

.debug {
    background-color: aquamarine;
    border: 1px dashed red;
    min-height: 20px;
    padding: 10px;
}